.app {
  width: 80%;
  height: auto;
  margin-top: 25px;
}

.heading {
  margin: 0 0 5px 8px;
  font-weight: 400;
}

.ui {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.box {
  display: flex;
  border-radius: 30px;
  border: 10px solid #e7eef6;
  background-color: #fdfffe;
  color: #242527;
}
