.searchBox {
  flex: 1;
  margin: 0 auto;
  max-width: 300px;

  border-radius: 40px;
  border: 8px solid #e7eef6;
  background: #fdfffe;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 5px 0 15px;
}

.searchButton {
  float: right;
  width: 2.5rem;
  height: 2.5rem;

  border: none;
  outline: none;
  background: none;
  color: #1b8dfe;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.4s;
}

.searchInput {
  float: left;
  padding: 0;
  width: 0px;

  border: none;
  outline: none;
  background: none;
  color: #242527;

  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  transition: 0.4s;
}

.icon {
  font-size: 1.2rem;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 3px 0 10px;
  }
}
