.app {
  width: 80%;
  height: auto;
  margin-top: 25px;
}

.heading {
  margin: 0 0 8px 8px;
  font-weight: 400;
}

.ui {
  display: flex;
}

.box {
  width: auto;
  height: 130px;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 30px;
  border: 10px solid #e7eef6;
  background-color: #fdfffe;
  color: #242527;

  display: grid;
  grid-template-rows: 25% 50% 25%;

  transition: all 0.4s ease-out;
}

.box:hover {
  cursor: pointer;
  border: 10px solid #b0c9f2;
  background-color: #1b8dfe;
  color: #fdfffe;
}

.time {
  padding: 0.15rem 0.5rem 0 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.icon {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  color: #1b8dfe;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover .icon {
  color: #fdfffe;
}

.sunrise {
  font-size: 1.9rem;
}

.temp {
  padding: 0 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}
